# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\samet\eclipse-workspace\DockerJenkinsSample\.idea/dataSources/
/dataSources.local.xml
